<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.gere0018.rescueApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>gere0018-Rescue</name>
    <description>
        An emergency application that allows users to call their emergency contacts in case of danger.
    </description>
    <author email="gere0018@algonquinlive.com" href="https://github.com/gere0018/rescue">
       Nehmat Gereige
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="android-minSdkVersion" value="18" />
    <platform name="android">
      <icon src="www/media/icons/icon-48px.png" density="mdpi" />
      <icon src="www/media/icons/icon-72px.png" density="hdpi" />
      <icon src="www/media/icons/icon-96px.png" density="xhdpi" />
      <icon src="www/media/icons/icon-144px.png" density="xxhdpi" />
      <icon src="www/media/icons/icon-192px.png" density="xxhdpi" />
    </platform>
</widget>
